html{
    font-size: 62.5%;
}
body{
    display: grid;
    grid-template-areas: "header  header "
                         "main  main"
                         "footer  footer";
    grid-template-columns: repeat(2, 1fr);
    background: url('../images/bg-desktop.svg') center center no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);  
}

.header{
    grid-area: header;
    padding: 7rem;
    display: flex;
    align-items: center;
    padding-left: 8rem;
}
.main{
    grid-area: main;
    display: flex;
    justify-content:space-between;
    padding: 0 10rem;
}

.main .mockups img{
    padding-right: 5rem;
}
.main .about h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}
.main .about p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #fff;
}
.about a .button{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: hsl(257, 40%, 49%);
    margin-top: 2rem;
    width: 20rem;
    height: 6rem;
    border-radius: 5rem;
    border: solid 1px hsl(257, 40%, 49%);
    box-shadow: 0.1em 0.1em  0.9em #252525;
    cursor: pointer;
    transition:0.3s;
}
.about a:hover .button{
    color: #fff;
    background-color: hsl(300, 69%, 71%);
}
.footer{
    grid-area: footer;
    padding: 3rem 10rem;
}
.footer nav ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: end;
}
.footer a i{
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: solid 1px;
    border-radius: 50px;
    margin: 10px;
    width: 18px;
    transition: 0.3s;
}
.footer a:hover i{
    color:hsl(300, 69%, 71%);
}



